<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Order System</title>
</head>

<body>
<header>
    <nav>
    <ol class="nav_list">
    <li><a href="/flower">Flowers</a></li>
    <li><a href="/orders">Orders</a></li>
    <li><a href="/flower_add_form">Add a flower</a></li>
    <li><a href="/order_add_form">Add an order</a></li>
    </ol>
    </nav>
</header>
    {% block content %}

    {% endblock %}
</body>
</html>